{% load staticfiles %}
<html>
<div id="wrapper">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/govsite3.css' %}">

    <title>Gov Search</title>
  </head>
  <div id="header">
  <div class="page-header">
    <h1><a href="/">Gov Search</a></h1>
    <h2>This site lets you search for and view consultations, announcements and legislation by entering one key word
    published by the Government</h2>
  </div> <!--page-header-->
  </div> <!--header-->

  <div id="body">
    <div class="content_container">
    {% block content %}

    {% endblock %}
  </div> <!--content_container-->
  </div> <!--body-->

  <div id="footer">
    <div class="footer">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <a href="/"><i class="fa fa-instagram w3-hover-opacity"></a></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p style="color:#000000">&copy; copyright 2017 by <a href="http://www.talithagrace.com/" style="color:#000000">talitha-grace</a>. all rights reserved.</p>
      <p style="color:#000000">Contains public sector information licensed under the Open Government Licence v1.0</p>
    </div> <!--classfooter-->
  </div> <!--idfooter-->

</div> <!--wrapper-->
</html>
