<html>
{% extends 'blog/govsitebase.html' %}
{% load staticfiles %}

{% block content %}
<body>
<div class="open_consultations">
  <h1><a>There are currently {{ no_cons }} open consultations</a></h1>
  <h2>Click here to view list<span style="color:#000000; cursor:pointer" onclick="myFunction()"> &#10010;</span></h2>
<ul id="openconsultationslist" style="display:none;">
{% for open_con in open_cons %}
  <li><a href="{{ open_con.hyperlink }}">
    {{ open_con.title }}
  </a></li>
{% endfor %}

</ul>

</div> <!--open-consultations-->

<div class="search_box">
<form type="get" action="." style="margin: 0">
  <input id="search_box" type="text" name="search_box" placeholder="Search...">
  <button id="search_submit" type="submit">Search</button>
</form>
</div><!-- search_box-->

<table>

  <tr>
    <th>News (Published by Government)</th>
    <th>Consultations</th>
    <th>Legislation</th>
  </tr>

<tr>
  <td valign="top">

  {% for stories in news %}
  <ul>
    <li><a href="{{ stories.hyperlink }}">{{ stories.title }}</a></li>
  </ul>

  {% endfor %}
  </td>

  <td valign="top">

    {% for con in consultations %}
  <ul>
    <li><a href="{{ con.hyperlink }}">{{ con.title }}</a></li>
  </ul>
  {% endfor %}

  </td>

<td valign="top">

{% for leg in legs %}

<ul>
<li><a href="{{ leg.hyperlink }}">{{ leg.title }}</a></li>
</ul>

{% endfor %}

</td>


</tr>
</table>
</body>
<script>

function myFunction() {
  var x = document.getElementById('openconsultationslist');
  if (x.style.display === 'none') {
      x.style.display = 'block';
  } else {
      x.style.display = 'none';
  }
}
</script>

{% endblock %}
</html>
