<html>
{% extends 'blog/govsitebase.html' %}
{% load staticfiles %}

{% block content %}

<form type="get" action="." style="margin: 0">
  <input id="search_box" type="text" name="search_box" placeholder="Search...">
  <button id="search_submit" type="submit">Submit</button>
</form>

<table>

  <tr>
    <th>legislation</th>
    <th>consultations</th>
  </tr>

<tr>
<td>

{% for legs in legislation_1 %}

<ul>
<li><a href="{{ legs }}">{{ legs }}</a></li>
</ul>

{% endfor %}


{% for legs in legislation_2 %}

<ul>
<li><a href="{{ legs }}">{{ legs }}</a></li>
</ul>

{% endfor %}

</td>

<td>


  {% for cons in consultations %}
<ul>
  <li><a href="{{ cons }}">{{ cons }}</a></li>
</ul>
{% endfor %}







</td>
</tr>
</table>

{% endblock %}
</html>
