<html>
{% extends 'blog/govsitebase.html' %}
{% load staticfiles %}

{% block content %}
<table>

  <tr>
    <th>legislation</th>
    <th>consultations</th>
  </tr>

<tr>
<td>
{% for legs in legislation_1 %}

<ul>
<li><a href="{{ legs }}">{{ legs }}</a></li>
</ul>

{% endfor %}

{% for legs in legislation_2 %}

<ul>
<li><a href="{{ legs }}">{{ legs }}</a></li>
</ul>

{% endfor %}

</td>

<td>
  {% for cons in consultations %}
<ul>
  <li><a href="{{ cons }}">{{ cons }}</a></li>
</ul>
{% endfor %}
</td>
</tr>
</table>

{% endblock %}
</html>
